<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    My Sister Babysitting App for Hackathon

  </body>
</html>
